.input__styles {
  background-color: #fac1d3c5 ;
  border-radius: 0.4rem;
  border: 0;
  color: white;
}

.input__styles:focus {
  border: 1px solid white;
  background-color: #fccedd ;
  transform: scale(1.02);
}
