.navbar {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0.4);
  transform: 0.6s;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5rem);
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  margin: 0;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.react-link {
  text-decoration: none;
}
