
.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous {
  background-color: #ffbdd2;
  border: 0;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.previous:hover {
  background-color: #fdadc7;
  cursor: pointer;
}

.next {
  background-color: #ffbdd2;
  border: 0;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.next:hover {
  background-color: #fdadc7;
  cursor: pointer;
}

img {
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .left-pic {
    display: none;
  }
  
  .middle-pic {
    border-radius: 1.5rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    width: calc(100vw - 3rem);
    height: calc(100vh - 8rem);
  }
  
  .right-pic {
    display: none;
  }
  
  .main-pic-div {
    display: flex;
    width: 100vw;
    height: 35rem;
    justify-content: space-around;
    align-items: center;
  }

  .next {
    display: none;
  }

  .previous {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .left-pic {
    border-radius: 1.5rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    width: 25rem;
    height: 35rem;
    transform: scale(0.6);
    opacity: 0.3;
  }
  
  .middle-pic {
    border-radius: 1.5rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    width: 25rem;
    height: 35rem;
  }
  
  .right-pic {
    border-radius: 1.5rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    width: 25rem;
    height: 35rem;
    transform: scale(0.6);
    opacity: 0.3;
  }
  
  .main-pic-div {
    display: flex;
    width: 100vw;
    height: 35rem;
    justify-content: space-around;
    align-items: center;
  }
}
