.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-pic {
  border-radius: 1.5rem;
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  width: 25rem;
  height: 35rem;
  object-fit: cover;
  transform: scale(0.6);
  opacity: 0.3;
}

.middle-pic {
  border-radius: 1.5rem;
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  width: 25rem;
  height: 35rem;
  object-fit: cover;
}

.right-pic {
  border-radius: 1.5rem;
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  width: 25rem;
  height: 35rem;
  object-fit: cover;
  transform: scale(0.6);
  opacity: 0.3;
}

.main-pic-div {
  display: flex;
  width: 100vw;
  height: 35rem;
  justify-content: space-around;
  align-items: center;
}