.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-pic {
  width: 30rem;
  height: 30rem;
}

.main-pic-div {
  display: flex;
  width: 30rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
}