* {
  font-family: "Niconne", cursive;
}
.App {
  display: flex;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: #31a1fd;
}

*:focus {
  outline: none;
}

section {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fde3eb, #e4f4ff);
  z-index: -1;
  overflow: hidden;
}

section .color {
  position: absolute;
  filter: blur(15rem);
}

section .color:nth-child(1) {
  background: #97c7ee;
  width: 50rem;
  height: 50rem;
  top: -25rem;
  left: 0;
}

section .color:nth-child(2) {
  background: #fccada;
  width: 30rem;
  height: 30rem;
  bottom: -10rem;
  right: 0;
}

section .color:nth-child(3) {
  background: #f7f7c4;
  width: 20rem;
  height: 20rem;
  bottom: 5rem;
  right: 0px;
}
