.login {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 40rem;
  width: 30rem;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 35rem;
  width: 25rem;
}

.form-group {
  width: 20rem;
}

label {
  display: block;
}

h2 {
  margin-bottom: 5rem;
}


