.login {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  height: 40rem;
  max-height: calc(100vh - 1.6rem);
  width: 30rem;
  transform: 0.6s;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5rem);
}

.login-form:hover {
  transform: scale(1.01);
  border: 0.2rem solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 25rem;
}

.form-group {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
}

.form-group input {
  padding-right: 2rem;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 5rem;
  color: #ffbdd2;
  text-shadow: -3px 3px 0px #ffdee9,
    0.5px 0.5px 0px #ffcdde,
    1px 1px 0px #fdb8cf,
    1.5px 1.5px 0px #ffb5ce,
    2px 2px 0px #ffaac6,
    2.5px 2.5px 0px #fca1bf,
    3px 3px 0px #ff9cbd,
    3.5px 3.5px 0px #ff91b6,
    4px 4px 0px #ff89b1,
    4.5px 4.5px 0px #ff80ab;
}

.submit-div {
  margin-top: 4rem;
  display: flex;
  background-color: rgba(255,255,255,0);
  background-size: cover;
  height: 3rem;
  width: 12rem;
  border-radius: 0.4rem;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
}

.submit:hover {
  cursor: pointer;
  border: 0.2rem solid #8eccff;
}

.submit {
  border: 0;
  position: relative;
  background-color: rgba(255,255,255,0);
  flex-grow: 1;
  padding: 0;
  color: #31a1fd;
  font-size: 1rem;
}

input {
  flex-grow: 1;
  padding-left: 1rem;
}

.login-error {
  color: red;
  height: 1rem;
}
