.login {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 0.3rem solid #ffffff;
  height: 40rem;
  width: 30rem;
  background-color: #c1e3ff;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 25rem;
}

.form-group {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group input {
  padding-right: 2rem;
}

label {
  display: block;
  padding-left: 2rem;
  text-align: start;
  color: #31a1fd;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 5rem;
  color: #ffbdd2;
  text-shadow: -3px 3px 0px #ffdee9,
    0.5px 0.5px 0px #ffcdde,
    1px 1px 0px #fdb8cf,
    1.5px 1.5px 0px #ffb5ce,
    2px 2px 0px #ffaac6,
    2.5px 2.5px 0px #fca1bf,
    3px 3px 0px #ff9cbd,
    3.5px 3.5px 0px #ff91b6,
    4px 4px 0px #ff89b1,
    4.5px 4.5px 0px #ff80ab;
}

input {
  background-color: #ffcedf ;
  border-radius: 0.4rem;
  border: 0;
  color: white;
}

input:focus {
  border: 1px solid white;
  background-color: #fccedd ;
}

.submit-div {
  margin-top: 4rem;
  display: flex;
  background-image: url('../../../public/login-button.jpg');
  background-size: cover;
  height: 2rem;
  width: 7rem;
  border-radius: 0.4rem;
}

.submit {
  border: 0;
  background-color: rgba(255,255,255,0);
  flex-grow: 1;
  padding: 0;
  color: #31a1fd;
  font-family: "Niconne", cursive;
  font-size: 1rem;
}
