.user {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100vw;
}

.infor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
}

.infor > * {
  flex-grow: 1;
  border: 1px solid black;
}

.master-infor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.master-infor > * {
  flex-grow: 1;
}

.account-infor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.account-infor > * {
  flex-grow: 1;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-profile-form-update {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.user-profile-form-update > * {
  flex-grow: 1;
}

.master-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
