.user {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100vw;
}
.infor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
}

.infor > * {
  flex-grow: 1;
}
